[Unit]
Description=BigRedPi Admin Dashboard
After=network-online.target docker.service
Wants=network-online.target


[Service]
Type=simple
WorkingDirectory=/home/bigred/bigredpi/dashboard
Environment=NODE_ENV=production
EnvironmentFile=/home/bigred/bigredpi/dashboard/.env
ExecStart=/usr/bin/node server.js

Restart=on-failure
RestartSec=3

User=bigred
Group=bigred

# Hardening
AmbientCapabilities=
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=no
ProtectSystem=full
ReadWritePaths=/home/bigred/bigredpi/dashboard


[Install]
WantedBy=multi-user.target